<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ikun.mapper.HouseMapper">
    <!--    用于select查询公用抽取的列-->
    <sql id="column">
        select id,community_id,name,description,total_price,unit_price,build_area,
               inside_area,house_type_id,floor_id,build_structure_id,direction_id,decoration_id,
               house_use_id,elevator_ratio,listing_date,last_trade_date,
               default_image_url,status,create_time,update_time,is_deleted
    </sql>

<!--    分页及带条件查询的方法-->
    <select id="findPage" resultType="house">
        <include refid="column"></include>
        from hse_house
        <where>
            <if test="name != null and name != ''">
                name like "%"#{name}"%" and
            </if>
            <if test="communityId != null and communityId != ''">
                community_id = #{communityId} and
            </if>
            <if test="houseTypeId != null and houseTypeId != ''">
                house_type_id = #{houseTypeId} and
            </if>
            <if test="floorId != null and floorId != ''">
                floor_id = #{floorId} and
            </if>
            <if test="buildStructureId != null and buildStructureId != ''">
                build_structure_id = #{buildStructureId} and
            </if>
            <if test="directionId != null and directionId != ''">
                direction_id = #{directionId} and
            </if>
            <if test="decorationId != null and decorationId != ''">
                decoration_id = #{decorationId} and
            </if>
            <if test="houseUseId != null and houseUseId != ''">
                house_use_id = #{houseUseId} and
            </if>
            is_deleted = 0
        </where>
        order by id desc
    </select>

<!--    添加-->
    <insert id="insert">
        insert into hse_house (
            community_id ,
            name ,
            description ,
            total_price ,
            unit_price ,
            build_area ,
            inside_area ,
            house_type_id ,
            floor_id ,
            build_structure_id ,
            direction_id ,
            decoration_id ,
            house_use_id ,
            elevator_ratio ,
            listing_date ,
            last_trade_date
        ) values (
                     #{communityId} ,
                     #{name} ,
                     #{description} ,
                     #{totalPrice} ,
                     #{unitPrice} ,
                     #{buildArea} ,
                     #{insideArea} ,
                     #{houseTypeId} ,
                     #{floorId} ,
                     #{buildStructureId} ,
                     #{directionId} ,
                     #{decorationId} ,
                     #{houseUseId} ,
                     #{elevatorRatio} ,
                     #{listingDate} ,
                     #{lastTradeDate}
                 )
    </insert>
    
<!--    根据id查询-->
    <select id="getById" resultType="house">
        <include refid="column"></include>
        from hse_house
        where id = #{id}
    </select>

<!--    更新-->
    <update id="update">
        update hse_house
        <set>
            <if test="communityId != null">
                community_id = #{communityId} ,
            </if>
            <if test="name != null">
                name = #{name} ,
            </if>
            <if test="description != null">
                description = #{description} ,
            </if>
            <if test="totalPrice != null">
                total_price = #{totalPrice} ,
            </if>
            <if test="unitPrice != null">
                unit_price = #{unitPrice} ,
            </if>
            <if test="buildArea != null">
                build_area = #{buildArea} ,
            </if>
            <if test="insideArea != null">
                inside_area = #{insideArea} ,
            </if>
            <if test="houseTypeId != null">
                house_type_id = #{houseTypeId} ,
            </if>
            <if test="floorId != null">
                floor_id = #{floorId} ,
            </if>
            <if test="buildStructureId != null">
                build_structure_id = #{buildStructureId} ,
            </if>
            <if test="directionId != null">
                direction_id = #{directionId} ,
            </if>
            <if test="decorationId != null">
                decoration_id = #{decorationId} ,
            </if>
            <if test="houseUseId != null">
                house_use_id = #{houseUseId} ,
            </if>
            <if test="elevatorRatio != null">
                elevator_ratio = #{elevatorRatio} ,
            </if>
            <if test="listingDate != null">
                listing_date = #{listingDate} ,
            </if>
            <if test="lastTradeDate != null">
                last_trade_date = #{lastTradeDate} ,
            </if>
            <if test="status != null">
                status = #{status} ,
            </if>
        </set>
            where id = #{id}
    </update>

<!--    删除-->
    <update id="delete">
        update
            hse_house
        set
            is_deleted = 1
        where
            id = #{id}
    </update>

<!--    前台分页及带条件查询的查询语句-->
    <select id="findPageList" resultType="com.ikun.vo.HouseVo">
        select hc.name communityName, hh.*
        from hse_house hh
        left join hse_community hc
        on hh.community_id = hc.id
        <where>
            <if test="areaId != null and areaId !=''">
                area_id = #{areaId} and
            </if>
            <if test="plateId != null and plateId !=''">
                plate_id = #{plateId} and
            </if>
<!--            <if test="keyword != null and keyword !=''">-->
<!--                keyword = #{keyword} and-->
<!--            </if>-->
<!--            <if test="totalPrice != null and totalPrice !=''">-->
<!--                totalPrice = #{totalPrice} and-->
<!--            </if>-->
            <if test="houseTypeId != null and houseTypeId !=''">
                house_type_id = #{houseTypeId} and
            </if>
            <if test="floorId != null and floorId !=''">
                floor_id = #{floorId} and
            </if>
            <if test="buildStructureId != null and buildStructureId !=''">
                build_structure_id = #{buildStructureId} and
            </if>
            <if test="directionId != null and directionId !=''">
                direction_id = #{directionId} and
            </if>
            <if test="decorationId != null and decorationId !=''">
                decoration_id = #{decorationId} and
            </if>
            <if test="houseUseId != null and houseUseId !=''">
                house_use_id = #{houseUseId} and
            </if>
            hh.is_deleted = 0 and
            hh.status = 1 and
            hc.is_deleted = 0
        </where>
        <if test="defaultSort == 1">
            order by hh.id desc
        </if>
        <if test="priceSort == 1">
            order by hh.total_price desc
        </if>
        <if test="timeSort == 1">
            order by hh.create_time desc
        </if>
    </select>
</mapper>