<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ikun.mapper.AdminMapper">

    <!-- 用于select查询公用抽取的列 head_url:头像地址 -->
    <sql id="column">
        select id,username,password,name,phone,head_url,description,create_time,update_time,is_deleted
    </sql>

    <!--   分页及带条件查询 -->
<!--    请求参数：username、name、phone、createTimeBegin、createTimeEnd-->
    <select id="findPage" resultType="admin">
        <include refid="column"></include>
        from acl_admin
        <where>
            <if test="username != null and username != ''">
                username = #{username} and
            </if>
            <if test="name != null and name != ''">
                name like "%"#{name}"%" and
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone} and
            </if>
            <if test="createTimeBegin != null and createTimeBegin != ''">
                create_time >= #{createTimeBegin} and
            </if>
            <if test="createTimeEnd != null and createTimeEnd != ''">
                create_time &lt;= #{createTimeEnd} and
            </if>
            is_deleted = 0
        </where>
        order by id desc
    </select>

<!--    添加用户-->
    <insert id="insert">
        insert into acl_admin(username,password,name,phone,description)
        values (#{username}, #{password}, #{name}, #{phone}, #{description})
    </insert>

    <!--    根据id获取Admin-->
    <select id="getById" resultType="admin">
        <include refid="column"></include>
        from acl_admin
        where id = #{id}
    </select>

    <!--    根据id 修改（更新）-->
    <update id="update">
        update acl_admin
        <set>
            <if test="username != null and username != ''">
                username = #{username} ,
            </if>
            <if test="password != null and password != ''">
                password = #{password} ,
            </if>
            <if test="name != null and name != ''">
                name = #{name} ,
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone} ,
            </if>
            <if test="headUrl != null and headUrl != ''">
                head_url = #{headUrl} ,
            </if>
            <if test="description != null and description != ''">
                description = #{description} ,
            </if>
        </set>
        where id = #{id}
    </update>

<!--    根据id删除，逻辑删除-->
    <delete id="delete">
        update acl_admin
        set is_deleted = 1
        where id = #{id}
    </delete>
    
<!--    查询所有用户 -->
    <select id="findAll" resultType="admin">
        <include refid="column"></include>
        from acl_admin
        where is_deleted = 0
    </select>

<!--    根据用户名查询Admin对象-->
    <select id="getAdminByUsername" resultType="admin">
        <include refid="column"></include>
        from acl_admin
        where username = #{username} and is_deleted = 0
    </select>

</mapper>