<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ikun.mapper.PermissionMapper">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="column">
        select id,parent_id,name,url,code,type,sort,create_time,update_time,is_deleted
    </sql>


    <select id="findAll" resultType="permission">
        <include refid="column"></include>
        from acl_permission
        where is_deleted = 0
        order by sort
    </select>

<!--    根据用户id查询权限（type=1代表菜单，type=2代表按钮）-->
    <select id="findPermissionListByAdminId" resultType="permission">
        select ap.*
        from acl_admin_role aar
        left join acl_role_permission arp on aar.role_id = arp.role_id
        left join acl_permission ap on arp.permission_id = ap.id
        where aar.admin_id = #{adminId} and
              aar.is_deleted = 0 and
              arp.is_deleted = 0 and
              ap.is_deleted = 0 and
              ap.type = 1
        order by ap.sort
    </select>

    <insert id="insert">
        insert into acl_permission(parent_id,name,url,code,type,sort)
        values (#{parentId}, #{name}, #{url}, #{code}, #{type}, #{sort})
    </insert>

    <update id="update" >
        update acl_permission
        <set>
            <if test="parentId != null and parentId != ''">
                parent_id = #{parentId} ,
            </if>
            <if test="name != null and name != ''">
                name = #{name} ,
            </if>
            <if test="url != null and url != ''">
                url = #{url} ,
            </if>
            <if test="code != null and code != ''">
                code = #{code} ,
            </if>
            <if test="type != null and type != ''">
                type = #{type} ,
            </if>
            <if test="sort != null and sort != ''">
                sort = #{sort} ,
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="delete">
        update acl_permission set is_deleted = 1
        where id = #{id}
    </update>

    <select id="getById" resultType="Permission">
        <include refid="column" />
        from acl_permission
        where id = #{id}
    </select>
</mapper>