<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ikun.mapper.RolePermissionMapper">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="column">
        select id,role_id,permission_id,create_time,update_time,is_deleted
    </sql>

<!--    根据role_id删除-->
    <update id="deleteByRoleId">
        update acl_role_permission
        set is_deleted = 1
        where role_id = #{roleId}
    </update>

<!--    根据role_id查询 其所拥有的各种权限的id-->
    <select id="findPermissionIdListByRoleId" resultType="long">
        select permission_id
        from acl_role_permission
        where role_id = #{roleId} and is_deleted = 0
    </select>

    <insert id="insert">
        insert into acl_role_permission (role_id ,permission_id) values (#{roleId}, #{permissionId})
    </insert>

</mapper>

